<!--トップ画面-->
<div class = "container">
    <div class = "row">
        <div class = "mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
<div>
  <%= flash[:notice] %>
</div>
<div class="text-center">
<h1>welcome to <i class="fa-solid fa-book"></i><strong>Bookers!!</strong></h1>
</div>

  <div class = "col-lg-9">
    <p>In <i class="fa-solid fa-book"></i><strong>Bookers,</strong></p>
    <p>you can share and exchange your opinions , inpressions , and emotions<br>
about various books!</p>
</div>

  <div class="d-grid gap-2 col-6 mx-auto">
    <%= link_to "Log-in", new_user_session_path, class:"btn btn-success" %>
            <br>
    <%= link_to "Sign-up", new_user_registration_path, class:"btn btn-primary" %>
</div>
</div>
</div>
</div>